.progress-bar3 {
    height: 18px;
    border-radius: 4px;
    background-image: 
       linear-gradient(to right, 
         $green, $turquoise, $blue, 
         $light-blue, $purple, $red);
    transition: 0.4s linear;  
    transition-property: width, background-color;    
  }
  
  .progress-infinite .progress-bar3 { 	 
    width: 100%; 
    background-image: 
      linear-gradient(to right, $green, $turquoise, $blue, $light-blue, $purple, $red);
    animation: colorAnimation 1s infinite;
  }
  
  @keyframes colorAnimation {
    0% { 
      background-image: 
      linear-gradient(to right, $green, $turquoise, $blue, $light-blue, $purple, $red);
    }
    20% { 
      background-image: 
      linear-gradient(to right, $turquoise, $blue, $light-blue, $purple, $red, $green);
    }
    40% { 
      background-image: 
      linear-gradient(to right, $blue, $light-blue, $purple, $red, $green, $turquoise);
    }
    60% { 
      background-image: 
      linear-gradient(to right, $light-blue, $purple, $red, $green, $turquoise, $blue);
    }
    100% { 
      background-image: 
      linear-gradient(to right, $purple, $red, $green, $turquoise, $blue, $light-blue);
    }
  }
  